.top-nav {
  height: 2 rem;
  border-bottom: solid grey 1px;
}

.header {
  grid-area: header;
  text-align: center;
  background-color: lightgreen;
}
.searchArea {
  grid-area: search;
  background-color: cadetblue;
}

.resultsList {
  grid-area: results;
  background-color: palevioletred;
}

.grid-containter {
  display: grid;
  grid-template-areas:
    "header, header, header, header, header, header"
    "search, search, search, search, search, search"
    "results, results, results, results, results, results";
  grid-gap: 15px;
  background-color: black;
  padding: 10px;
}

.grid-container > div {
  padding: 20px 0;
}

.jumbotron {
  margin: 1rem;
}
